{% extends "_base.html" %}

{% block content %}

    <div class="hero-unit">
      <div class="container-fluid">
        <h1>Chicago Tribune Long Reads</h1>
      </div>
    </div>
    <div class="container-fluid">   
      <div class="social-wrapper social-wrapper-vertical visible-desktop">
        <small>Share</small>
        <ul>
          <li>
            <a target="_blank" href="">
              <i class="icon-twitter-sign"></i> <span class="hidden">Twitter</span>
            </a>  
          </li>
          <li>
            <a target="_blank" href="">
              <i class="icon-facebook-sign"></i> <span class="hidden">Facebook</span>
            </a>  
          </li>
          <li>
            <a target="_blank" href="">
              <i class="icon-google-plus-sign"></i> <span class="hidden">Google+</span>
            </a>  
          </li>
          <li>
            <a target="_blank" href="">
              <i class="icon-pinterest-sign"></i> <span class="hidden">Pinterest</span>
            </a>  
          </li>
      </div>
      <div class="mm-wrapper">
        <div class="row-fluid">
          <div class="span9">
            <article>
              <p class="lead drop-cap">Editor's note or intro text</p>
            </article>
          </div>
          <div class="span3 hidden-phone">
            <ul class="nav nav-related">
              <li><a href="#utica">Utica</a></li>
            </ul>
          </div>
        </div>
        <div class="social-wrapper text-center hidden-desktop">
          <small>Share this page</small>
          <ul>
            <li>
              <a target="_blank" href="">
                <i class="icon-twitter-sign"></i> <span class="hidden">Twitter</span>
              </a>  
            </li>
            <li>
              <a target="_blank" href="">
                <i class="icon-facebook-sign"></i> <span class="hidden">Facebook</span>
              </a>  
            </li>
            <li>
              <a target="_blank" href="">
                <i class="icon-google-plus-sign"></i> <span class="hidden">Google+</span>
              </a>  
            </li>
            <li>
              <a target="_blank" href="">
                <i class="icon-pinterest-sign"></i> <span class="hidden">Pinterest</span>
              </a>  
            </li>
        </div>
      </div>
      <hr id="utica">
      <section>
        <div class="mm-wrapper">
          <article>
            <div class="row-fluid">
              <div class="span9">
                <h1 class="chapter-header">
                  <span>Utica</span>
                  <small>Julia Keller, December 2004</small></h1>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span9">
                  <div class="media article-media">
                    <img src="http://www.chicagotribune.com/media/photo/2009-04/12351296.jpg"></div>
                  <p class="drop-cap">Ten seconds. Count it: One. Two. Three. Four. Five. Six. Seven. Eight. Nine. Ten. Ten seconds was roughly how long it lasted. Nobody had a stopwatch, nothing can be proven definitively, but that's the consensus. The tornado that swooped through Utica at 6:09 p.m. April 20 took some 10 seconds to do what it did. Ten seconds is barely a flicker. It's a long, deep breath. It's no time at all. It's an eternity.</p>

                  <p>If the sky could hold a grudge, it would look the way the sky looked over northern Illinois that day. Low, gray clouds stretched to the edges in a thin veneer of menace. Rain came and went, came and went, came and went.</p>
                  <p class="text-center top-line">
                    <a class="media-link digital-plus-icon" href="/longform/utica_1.html">Read part 1, A wicked wind takes aim</a>
                  </p>
              </div>
              <div class="span3 hidden-phone">
                <ul class="nav nav-related">
                  <li><a href="/longform/utica_1.html">A wicked wind takes aim</a></li>
                  <li><a href="/longform/utica_2.html">"Milestone's gone!"</a</li>
                  <li><a href="/longform/utica_3.html">After the storm's fury</a></li>
                </ul>
              </div>
            </div>
          </article>
        </div>
      </section>
      <hr>

{% endblock content %}
