{% extends "_base.html" %}

{% block content %}
<div class="container-fluid">
      
      <div class="social-wrapper social-wrapper-vertical text-center visible-desktop">
        <small>Share</small>
        <ul>
          <li>
            <a target="_blank" href="">
              <i class="icon-twitter-sign"></i> <span class="hidden">Twitter</span>
            </a>  
          </li>
          <li>
            <a target="_blank" href="">
              <i class="icon-facebook-sign"></i> <span class="hidden">Facebook</span>
            </a>  
          </li>
          <li>
            <a target="_blank" href="">
              <i class="icon-google-plus-sign"></i> <span class="hidden">Google+</span>
            </a>  
          </li>
          <li>
            <a target="_blank" href="">
              <i class="icon-pinterest-sign"></i> <span class="hidden">Pinterest</span>
            </a>  
          </li>
        </ul>
      </div>
      <div class="row-fluid">
        <div class="mm-wrapper">
          <div class="row-fluid">
            <div class="span12">
              <article>
                <h1>Part 1: A wicked wind takes aim</h1>
                <h3>How do you outrun the sky? On a fateful day in April, the people of Utica bore the brunt of the awesome power of a tornado.</h3>
                <p class="byline top-line"> 
                  Julia Keller
                  <span class="pull-right"><strong>Chicago Tribune reporter</strong></span>
                </p>
                <div class="social-wrapper text-center visible-phone visible-tablet">
                  <small>Share this page</small>
                  <ul>
                    <li>
                      <a target="_blank" href="">
                        <i class="icon-twitter-sign"></i> <span class="hidden">Twitter</span>
                      </a>  
                    </li>
                    <li>
                      <a target="_blank" href="">
                        <i class="icon-facebook-sign"></i> <span class="hidden">Facebook</span>
                      </a>  
                    </li>
                    <li>
                      <a target="_blank" href="">
                        <i class="icon-google-plus-sign"></i> <span class="hidden">Google+</span>
                      </a>  
                    </li>
                    <li>
                      <a target="_blank" href="">
                        <i class="icon-pinterest-sign"></i> <span class="hidden">Pinterest</span>
                      </a>  
                    </li>
                  </ul>
                </div>
                <p class="lead drop-cap">Ten seconds. Count it: One. Two. Three. Four. Five. Six. Seven. Eight. Nine. Ten. Ten seconds was roughly how long it lasted. Nobody had a stopwatch, nothing can be proven definitively, but that's the consensus. The tornado that swooped through Utica at 6:09 p.m. April 20 took some 10 seconds to do what it did. Ten seconds is barely a flicker. It's a long, deep breath. It's no time at all. It's an eternity.</p>

                <p>If the sky could hold a grudge, it would look the way the sky looked over northern Illinois that day. Low, gray clouds stretched to the edges in a thin veneer of menace. Rain came and went, came and went, came and went.</p>

                <p>The technical name for what gathered up there was stratiform cloud cover, but Albert Pietrycha had a better way to describe it: "murk." It was a Gothic-sounding word for a Gothic-looking sky. A sky that, in its own oblique way, was sending a message.</p>

                <p>Pietrycha is a meteorologist in the Chicago forecast office of the National Weather Service, a tidy, buttoned-down building in Romeoville, about 25 miles southwest of Chicago. It's a setting that seems a bit too ordinary for its role, too bland for the place where the first act of a tragedy already was being recorded. Where the sky's bad intentions were just becoming visible, simmering in the low-slung clouds.</p>

                <p>Where a short distance away, disparate elements--air, water and old sandstone blocks--soon would slam into each other like cars in a freeway pileup, ending eight lives and changing other lives forever.</p>

                <p>The survivors would henceforth be haunted by the oldest, most vexing question of all: whether there is a destiny that shapes our fates or whether it is simply a matter of chance, of luck, of the way the wind blows.</p>

<p class="lead drop-cap">It was a busy day for Pietrycha and his colleagues. The classic ingredients for a tornado--warm air to the south, cooler air north and a hint of wind shear--had seemed imminent most of the morning. Spring and early summer are boom times for tornadoes, the most violent storms on Earth.</p>

                <p>What bothered Pietrycha was a warm front that loitered ominously across southern Illinois. If the front's moist, humid air moved north too quickly in the daylight hours, clashing with cooler air, the instability could create thunderstorms liable to split off into tornadoes.</p>

                <p>But by early afternoon, it seemed that maybe, just maybe, northern Illinois would escape. If the front waited until after sunset to arrive, its impact would be negligible because the air near the ground--with no sunshine to warm it--would cool off. Nope, a relieved Pietrycha said to himself. Probably not today.</p>

                <p>It was only a hunch. Meteorologists know a lot about tornadoes, but with all they know, they still can't say why some thunderstorms generate tornadoes and some don't. Or why tornadoes, once unleashed, do what they do and go where they go.</p>

                <p>That's why forecasting is as much art as science. Too many warnings not followed by actual tornadoes make people skeptical and careless. Too many warnings can be as dangerous as too few. And while meteorologists can spot an approaching hurricane days in advance, the average warning time for a tornado is 11 minutes.</p>

<p class="lead drop-cap">What she was thinking was, Gotta beat that rain.</p>

                <p>Frowning up at a sky as flat and gray as a cookie sheet, Shelba Bimm, 65, figured she just might be able to outrun the next downpour. Worth a try, anyway.</p>

                <p>Bimm was standing in the driveway of her house at 238 W. Church St. in Utica, population 977, just outside Starved Rock State Park.</p>

                <p>It was precisely 5:15 p.m. She had her schedule figured down to the minute. Busy people do that. But this ornery rain--will it or won't it, and if it starts up again, how long will it last?--was irksome.</p>

                <p>She was due in Oglesby at 6 p.m. for the weekly class she was taking for her certification as an EMT Intermediate, the next level up from EMT, a rank Bimm had held since 1980, answering the frequent summons from the Utica volunteer fire department. Folks in town were accustomed to the sight of the white-haired Bimm in the driver's seat of her black Honda CRV, yanking on the wheel with one hand and gripping her dispatch radio with the other.</p>

                <p>Shelba Bimm had been a 1st-grade teacher for 42 years. She was retired now--if that's what you want to call it, even though she was at least as busy these days as she'd ever been when running a classroom, what with her EMT work and the dollhouse business she operated out of the front room of her home. And now she and Dave Edgcomb, Utica's fire chief, were taking classes to upgrade their credentials.</p>

                <p>Oglesby is a 15-minute drive from Utica, so normally Bimm didn't hit the road until 5:30 p.m. But then again, she thought, just look at that sky.</p>

                <p>If she left now, she might be able to get there and dash from the parking lot at Illinois Valley Community College and into class without getting soaked. It's gonna be, she thought, one hell of a storm.</p>

                <p>So she scooted into her car--the one with the can't-miss-it license plate BIMM 2--and took off, backing out of her driveway and heading east on Church Street.</p>

                <p>At the four-way stop a few yards from her house she turned south on Mill Street. Near the corner was a bar called Milestone. A block later, at the corner of Mill and Canal Street, she passed Duffy's Tavern.</p>

                <p>Bimm turned west on Illinois Highway 71 and then headed on into Oglesby, pulling into the campus parking lot at 5:30 p.m. The western sky was getting blacker and blacker, as if something had been spilled on the other side of it and was seeping through.</p>

                <p>All told, it took her less than a minute to cross Utica. Had she happened to lift her pale blue eyes to the rear view mirror as she left the city limits, she would have seen, poised there like a tableau in a snow globe just before it's shaken up, her last intact view of the little town she loved.</p>

<p class="lead drop-cap">Pietrycha and his colleagues work in a big square room with a central ring of linked desks and a computer monitor perched on just about every flat surface.</p>

                <p>Across Pietrycha's work station, six computer screens glowed with radar information that told him, through tiny pixels of perky green and hot red and bold yellow, about hail and rain, about wind rotation and velocity.</p>

                <p>To check the screens, Pietrycha, a slender man with short sandy hair and the preoccupied air of someone who's always working out a math problem in his head, quickly rolled his chair back and forth, back and forth, screen to screen to screen, taking frequent swigs from a Coke can.</p>

                <p>As 4 p.m. approached, the end of his shift, the warm front was still dawdling in southern Illinois. Looking good. So Pietrycha got ready to go. He lives in Oswego, some 13 miles northwest of Romeoville.</p>

                <p>To Mark Ratzer, a fellow meteorologist with a neat blond crew cut who was in charge of the office that day, Pietrycha said, "Hey, if things get out of hand, call me."</p>

<p class="lead drop-cap">The specials at Duffy's Tavern that night, according to the green felt-tip lettering on the white board above the bar, were: "All You Can Eat Spaghetti w/garlic breadsticks, $4.99" and "Cajun NY Strip w/onions and peppers and potato salad, $16.99" and "2 stuffed walleye, $13.99." The soup was cheesy broccoli.</p>

                <p>Lisle Elsbury, 56, had bought Duffy's a year ago. Buying it meant leaving behind the life he knew as a heating and air conditioning repairman in Lyons, and slapping down all his chips right here in Utica.</p>

                <p>Elsbury was a compact man with a nervous energy that seemed to oscillate just beneath his skin. His small gray mustache dipped at either end, curling around his upper lip like a parenthesis.</p>

                <p>He liked to stand behind the long bar, its rich brown wood so ancient and polished by innumerable elbows that it looked sumptuous, almost liquid. It shimmered in the light.</p>

                <p>If he'd glanced out the big front window just then, he might have seen Bimm's black Honda going south on Mill as she headed to class. But Elsbury was too busy to be gazing out windows. When you owned a bar and grill, there was always something to do. Always a ledger to balance, a glass to rinse, a burger to turn.</p>

                <p>After a rocky start--Utica is a tough town to break into, with friendships stretching back decades--Elsbury was feeling pretty good. Things were looking up, even though there were four other taverns in town--Skoog's Pub, Joy & Ed's, Canal Port and Milestone--all within a stone's throw.</p>

                <p>Duffy's and Milestone were the new kids on the block. Not literally--the buildings were each more than a century old, two-story structures that anchored either end of Utica's roughly one-block business district. The proprietors, not the properties, were new. Elsbury and his wife, Pat, had bought Duffy's; Larry Ventrice and his wife, Marian, were running Milestone.</p>

                <p>They were alike in a lot of ways, the Elsburys and the Ventrices. They were two couples trying to make a go of it in a new business in a new town. Money was tight. Hours were long. You worked as hard as you could work, and you still weren't sure sometimes if you were going to survive.</p>

                <p>At this time of day, though, with the sun going down and the room filling up, Elsbury was reminded of the reasons he loved running a bar. Toughest work he'd ever done, but Lord, he just loved the feel of the place. The laughter. The talk. The scrape of chair legs on the red-painted plywood floor. A kind of benign, peppy chaos.</p>

                <p>Two TV sets were angled on small platforms extending from the wall at both ends of the bar, their screens busy with maps sprouting wavy lines and harsh-looking arrows. Bartender Chris Rochelle, 23, a skinny, good-looking kid with spiky black hair, had changed both sets from ESPN to the Weather Channel.</p>

                <p>The sky, he told anybody who asked, just didn't look right to him. Didn't look right at all.</p>

<p class="lead drop-cap">By the time Pietrycha walked back into the weather service office at about 5:45 p.m., everything had changed. It was as if an orchestra conductor, with a simple flick of the baton, had abruptly altered the room's tempo. What had been casual was suddenly intense. Phones rang, people scurried back and forth, frowning meteorologists hunched over computer screens.</p>

                <p>That lackadaisical warm front suddenly had come to life, moving north much faster than any of the forecasters thought it would, initiating the fatal tangle of warm and cold air. Tornadoes darted across the Midwest, making jailbreaks from the thunderstorms.</p>

                <p>At 5:32 p.m., Pietrycha's colleague, radar operator Rich Brumer, had issued a tornado warning for north-central Illinois. Typically, a watch--which alerts people to be on their guard--precedes a warning, but the warm front had risen so fast that Brumer went straight to the warning.</p>

                <p>Now it was a matter of what meteorologists call interrogating the storm: keeping an eye on the screens as the data pours in, supplied by the Doppler radar tower that rises just behind the Romeoville office. In one sense, Pietrycha and his colleagues are immensely powerful as they compile fact after fact after fact about the atmosphere. They know just about everything there is to know about the air, the clouds, the wind, the rain.</p>

                <p>But in another sense, they're utterly helpless. They don't know the "ground truth": the meteorological term for what's actually happening to real people, people who don't just record and measure the weather but must live through it.</p>

                <p>That night, the weather service would tally 53 tornadoes in the Midwest. Fourteen whipsawed across north-central and northeastern Illinois.</p>

                <p>One of those--born about 2 miles southwest of Granville and cutting a 15 1/2-mile, 200-yard-wide notch from Granville to Utica--seemed to make a beeline for a venerable two-story tavern. It would arrive at 6:09 p.m.</p>

<p class="lead drop-cap">At 5:55 p.m. the phone rang in Beverly Wood's mobile home in Utica. It was her daughter, Dena Mallie, a vivacious 44-year-old who lives in Peru, just west of Utica.</p>

                <p>"We're having really bad hail," Mallie told her mother.</p>

                <p>Wood, 67, was in the middle of dinner with Wayne Ball, 63, whom she'd dated for years and who lived in a mobile home right across the road, and Helen Studebaker Mahnke, 81, another friend who lived in the same trailer park just east of the downtown business district.</p>

                <p>Wood and Ball were an easy, comfortable couple, with an affection that ran deep and true. When Ball's hands were severely frostbitten during his work with the railroad several years ago, and had to be bandaged and immobile for many months, it was Wood who fed him, who lit and held his cigarettes for him.</p>

                <p>Wood had heated up a frozen pizza and mixed a few drinks. Mallie could hear music in the background; the three old friends had settled in for the evening. But Wood deeply feared storms.</p>

                <p>"We're going to scoot," she told Mallie. "We're going uptown."</p>

                <p>Trailers, as everybody knew, were notoriously vulnerable in bad weather. It made sense for Wood, Mahnke and Ball to hunker down in one of the Utica taverns, one of those big, reliable old buildings that could shrug off a storm like it had been shrugging them off for decades.</p>

                <p>Leaving the pizza--minus the three slices they'd just eaten--on the table with the drinks, because they'd be back in a jiffy, Wood, Mahnke and Ball hurried outside and climbed into Wood's car, a taupe Buick Century.</p>

                <p>It couldn't have taken Wood more than a minute to drive them to the bar, even pausing for the single stop sign on East Church, even heeding the posted speed limit of 20 m.p.h.</p>

                <p>She parked across the street, and they quickly walked in through Milestone's double doors. Wood was in such a hurry she didn't lock the car; for her, an unheard-of lapse. It was just after 6 p.m.</p>

                <p>Relief. They were, they thought, safe now.</p>

<p class="lead drop-cap">For several minutes before the three arrived, Milestone's lights flickered.</p>

                <p>Larry Ventrice, 49, was getting irritated. On or off, he didn't care. Just wished they'd make up their mind, on or off, on or off. It climbed a person's nerves, real quick.</p>

                <p>He was a restless, impatient man, a man with a finger-snap temper but a good heart. He hailed from Bridgeport, a South Side Chicago neighborhood, and was proud of it, and he was proud as well of what he'd done with the tavern: filled it with funky antiques such as a roulette wheel and fake "WANTED" posters that gave the place a toe-tapping, down-home feel. The atmosphere started at the threshold, where a couple of horseshoes served as door pulls, and continued on around to the building's southern exterior, where a big, colorful mural, a rollicking pioneer scene with wagon trains and sod-busters, had been painted on the sandstone blocks.</p>

                <p>Larry Ventrice knew about the bad weather heading their way. On the big TV set over the bar he'd heard the stations yakking about tornadoes and seeking shelter and all the rest of it, but he wasn't worried. Why should he be? Milestone, with its thick sandstone walls, flat concrete roof and slate foundation, was as solid as a vault. It was 117 years old, but just as hard times strengthened a person's character, surely rough weather over the years toughened up a building, didn't it? Showed its true mettle. Milestone was a survivor. You'd bet your life on it.</p>

                <p>Larry knew just about everybody who was there that night, and they knew him. His cousin Jim Ventrice, 70, was sitting at a table finishing up a bowl of chicken noodle soup while waiting for his second course, a pork chop sandwich he'd ordered from Marian Ventrice, 50, Larry's wife. Everybody called Jim Ventrice "Cousin Junior" or just Junior.</p>

                <p>Junior, a slight man who wore his shirt tucked in and his hair combed neatly back from his forehead, had gotten to Milestone at about 5:40 p.m. that night. He stopped in at least once a day because he liked the bar's cozy, nobody's-a-stranger ambience.</p>

                <p>He'd taken a seat, spotted Jay Vezain at the bar and called out, "Hey, Jay, how're you?"</p>

                <p>Vezain, 47, who worked at the Utica grain elevator just south of Duffy's, was nursing a bottle of beer. "I'm OK, Junior, how're you?"</p>

                <p>He had a good sense of humor, Vezain did, and the kind of smile to go with it: quick, mischievous-looking. A lot of folks saved their best jokes for Vezain, just to see that smile.</p>

                <p>Over in the corner, Carol Schultheis, 40--Wayne Ball's daughter--was playing the video poker game, shoving in coins and waiting for luck, and taking occasional drags on a Marlboro Light. She'd been diagnosed with multiple sclerosis a few years ago, but so far it hadn't slowed her down; she was a day-shift cook at Joy & Ed's, and everybody in Utica knew her and she knew everybody right back, and if you passed her on the street you'd get a smile and a wave and maybe a naughty joke or two.</p>

                <p>Rich Little, 37, a truck driver from nearby Troy Grove, was sitting at the bar, drinking a bottle of Bud Light. He was supposed to meet his girlfriend here at 6:30 p.m.</p>

                <p>Back in the kitchen, Debbie Miller, 44, pushed a pork chop around on the grill for Junior's sandwich.</p>

                <p>The lights flickered again. The door opened, and Wood, Mahnke and Ball came in.</p>

                <p>Just after that, Debbie Miller's family spilled in through the back door, a pinwheeling mass of kids that must have quickly overwhelmed the small hallway and kitchen, a living scribble of elbows and long legs and sneakers and stick-thin arms, talking and pushing.</p>

                <p>There was Debbie's husband, Mike, 49, lanky and bushy-haired; sons Mike Jr., 18, Gregg, 14, and Christopher, 8; and daughters Ashley, 16, and Jennifer, 12, along with Gregg's best friend Jarad Stillwell, 13.</p>

                <p>Mike Miller's lean, lined, mournful face seemed to carry all the family's woes in its crevices. They'd had a lot of hard luck over the years. Money was tight, and Mike's salary from the Illinois Central Railroad never seemed quite able to stretch from one payday to the next, not with all those skinny tow-headed kids to take care of. Debbie Miller had signed on as a cook at Milestone about a year and a half ago, and Ashley and Mike Jr. sometimes came along, too, to wait tables or sweep up, netting a few bucks from Larry.</p>

                <p>So when Mike Miller, back in the family's little blue house a half-mile south on Washington Street, had gotten spooked by those increasingly agitated TV weather reports, he thought of Milestone. Milestone was a second home. And Milestone, he figured, would be safer. It was big and thick-walled and had a stone-floored basement that was reassuring just to think about.</p>

                <p>Milestone, anybody would tell you, was as sturdy as a preacher's promise.</p>

                <p>Mike had just pulled a frozen pizza out of the oven for the kids' dinner, but to heck with it: They could eat when they got back home in a few minutes, after the storm passed.</p>

                <p>So Mike ran down the crumbling steps with his children right behind him, and everybody scrambled into the family's Ford LTD.</p>

                <p>By the time he and the kids got to the bar--two minutes later, tops--Debbie Miller was shutting down the grill, just like Larry had told her to.</p>

                <p>"Everybody in the basement," Marian Ventrice said. "Kids first. Get the kids." She was a nervous, fretful, excitable woman, and you could hear the anxiety spiking in her voice.</p>

                <p>The basement door was toward the front of the bar, under the stairs leading to the second floor. It was an old-fashioned cellar door, flush with the wooden floor, and you pulled up on a metal handle then flipped the door over.</p>

                <p>Jarad and Gregg trooped down the wooden stairs, followed by Jennifer, Christopher, Ashley and Mike Jr., and then the adults. They moved quickly, efficiently, but without panic, because they were heading to safety; the basement was a haven, the basement was exactly where you'd want to be at that moment. Thick stone floor, low ceiling. Like a cave.</p>

                <p>"Stick together, everybody stick together," Marian said, and she and Larry went to the center of the basement. So did the older people--Wood, Ball and Mahnke--and the Miller family piled up against the north wall, just beyond the bottom of the stairs. Gregg and Jarad headed to the south wall, next to the walk-in cooler.</p>

                <p>Everybody was still talking, still speculating about the storm, and Mahnke asked Ashley and Jennifer their names. Marian was agitated, jittery, but everybody else was relaxed and casual, so casual, in fact, that Junior and Little had brought their beers with them. They set them on top of the chest-high freezer against which they stood, waiting for somebody to tell them it was OK to go back upstairs. No big deal.</p>

<p class="lead drop-cap">At 5:58 p.m., Dena Mallie saw it from her driveway in Peru.</p>

                <p>As it blossomed darkly, a huge batwing erasing the sky around it, a Utica contractor named Buck Bierbom saw it from his back yard.</p>

                <p>Rona Burrows saw it. She leaned out the front door at Mill Street Market, where she worked as a cashier, and looked up at the sky.</p>

                <p>Lisle Elsbury saw it from the alley behind Duffy's.</p>

                <p>It was a great black mass, a swirling coil some 200 yards wide at the ground--it was wider in the sky--heading northeast at about 30 m.p.h. They looked up and saw it but they thought: No. Couldn't be. Could it?</p>

                <p>There was a wild beauty to it, a fiercely knotted loveliness that was like nothing they'd ever seen. They could see debris swirling in it, pulled in and out and sucked up and around, frenzied sticks of wood, trees, dirt, other things, everything.</p>

                <p>The ones who watched it come, watched it fill more and more of the blue-green sky like the canvas of a finicky painter who decides to slather the whole thing in black and start over, felt almost hypnotized at first, rooted to the earth but looking up, up, up. "Awesome" is the word that came instantly to Mallie. And not the way teenagers meant it. Awesome as in something that fills you up with awe.</p>

<p class="lead drop-cap">Steve Maltas, 23, a Utica volunteer firefighter with a trim goatee and a distinct aversion to small talk, was at the car wash in Utica's south end. He heard the report from the LaSalle Fire Department on his dispatch radio: A tornado was bearing down on them.</p>

                <p>Maltas gunned his pickup toward the fire station, just up on Mill across from Milestone. He knew where the switch was to activate the tornado siren, the mechanical wail that would give his friends and neighbors a fighting chance.</p>

                <p>He braked in front of the yellow-brick firehouse, cut the engine, raced inside and ran smack into a dilemma: He had no authority. Only the chief was supposed to give the OK to sound the warning. Another firefighter, quiet, blond Shane Burrows, 23--Rona Burrows' son--was there too. He had tried to reach Edgcomb, but the chief's cell phone was turned off--a requirement for the EMT class.</p>

                <p>The two men had seconds to decide and what they decided was:</p>

                <p>Screw the rules.</p>

                <p>Flip the switch.</p>

                <p>A moment later they were joined in the firehouse by Steve Maltas' mother, Gloria, who'd hustled there when she heard about the storm. She, too, worked at the firehouse in her spare time.</p>

                <p>But even with the siren, the townspeople weren't paying attention. When Gloria Maltas looked outside, she saw them standing in the street, watching the sky. Maybe they thought the siren was just a precaution, or maybe they were trusting old Utican wisdom: A tornado won't go in a valley. A tornado won't cross water. Both were false.</p>

                <p>So Gloria, ordinarily a shy, reticent woman who deeply disliked anything that could be remotely construed as making a spectacle of herself, who usually spoke in a soft, whispery voice that made listeners lean in a little to catch her words, did something wholly uncharacteristic: She directed Steve to one side of Mill Street and she took the other, and they began running and yelling at people who stood in the doorways, telling them to get inside, take cover, for God's sake go back in.</p>

                <p>Gloria kept running. She ran faster than she'd ever run before, and she didn't realize how fast she was running. A day or so later, her legs ached and she couldn't figure out why, and then she remembered the running, running up and down Mill Street, screaming at people who must've wondered what on earth had gotten into sweet little Gloria Maltas.</p>

                <p>Steve Maltas made it back to the fire station, where his last warning was issued to a few folks who stood in the doorway of the bar across the street. "Get in! Get back in!" he hollered, and he saw that one of them was Jay Vezain, who did as he was told, and then the others who'd been standing behind Vezain went back in too.</p>

                <p>Because the fire station didn't have a basement, Maltas and Burrows and the other firefighters who had gathered there headed for the boiler room. They heaved the door shut behind them, and then they waited, having done all they could do, for whatever the next flurry of seconds would bring.</p>

<p class="lead drop-cap">Gloria Maltas, whose last warning was to the people standing outside Duffy's, wasn't going to make it back to the fire station. It was only a block away, and she had started back, thinking she could do it, but then she glanced over her shoulder and Oh my God saw the tornado gaining on her, spreading out behind her.</p>

                <p>She was running toward the station, running and running, but there wasn't time, there wasn't time. The big black triangle was rising right behind her, capturing more and more of the sky.</p>

                <p>At Mill Street Market, the tiny grocery store in the middle of the block, Gloria halted at the glass door--the one with the "We appreciate our customers" sign--and pounded on it. Closed, locked. Nobody stirred inside. Gloria had done her job too well. They were all in the back, she guessed, having fled into the big walk-in freezer.</p>

                <p>Still Gloria pounded and hollered, because there was nothing else to do, no other option. She had to get inside somewhere, anywhere, and then she saw Rona Burrows running toward the door, jiggling the key in the lock, twisting it, that lock was always stubborn.</p>

                <p>"Hurry up!" cried Burrows, pulling her inside. "If I have to see you flying through the air, I'll kill you!" she added, half-laughing, half-sobbing, and then they got to the back of the store, past the meat display case and into the freezer where the others--Mary Jo and Bruce Conner, the couple who managed the market, and a woman Gloria didn't know--were huddled.</p>

                <p>They waited that final minute, not knowing if they were really safe, not knowing if the walls would hold, not knowing if these were the last seconds of their lives, and they embraced, and then--at 6:09 p.m.--there was a sound like hundreds of cars being dumped on the roof, and they knew that it was, unmistakably, upon them.</p>
                <div class="social-wrapper text-center top-line">
                  <small>Share this page</small>
                  <ul>
                    <li>
                      <a target="_blank" href="">
                        <i class="icon-twitter-sign"></i> <span class="hidden">Twitter</span>
                      </a>  
                    </li>
                    <li>
                      <a target="_blank" href="">
                        <i class="icon-facebook-sign"></i> <span class="hidden">Facebook</span>
                      </a>  
                    </li>
                    <li>
                      <a target="_blank" href="">
                        <i class="icon-google-plus-sign"></i> <span class="hidden">Google+</span>
                      </a>  
                    </li>
                    <li>
                      <a target="_blank" href="">
                        <i class="icon-pinterest-sign"></i> <span class="hidden">Pinterest</span>
                      </a>  
                    </li>
                  </ul>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}
