{% extends "_base.html" %}

{% block content %}
<div class="container-fluid">
      
      <div class="social-wrapper social-wrapper-vertical text-center visible-desktop">
        <small>Share</small>
        <ul>
          <li>
            <a target="_blank" href="">
              <i class="icon-twitter-sign"></i> <span class="hidden">Twitter</span>
            </a>  
          </li>
          <li>
            <a target="_blank" href="">
              <i class="icon-facebook-sign"></i> <span class="hidden">Facebook</span>
            </a>  
          </li>
          <li>
            <a target="_blank" href="">
              <i class="icon-google-plus-sign"></i> <span class="hidden">Google+</span>
            </a>  
          </li>
          <li>
            <a target="_blank" href="">
              <i class="icon-pinterest-sign"></i> <span class="hidden">Pinterest</span>
            </a>  
          </li>
        </ul>
      </div>
      <div class="row-fluid">
        <div class="mm-wrapper">
          <div class="row-fluid">
            <div class="span12">
              <article>
                <h1>Part 2: "Milestone's gone!"</h1>
                <h3>A savage tornado obliterates the century-old landmark where many sought shelter. Who lived? Who died?</h3>
                <p class="byline top-line"> 
                  Julia Keller
                  <span class="pull-right"><strong>Chicago Tribune reporter</strong></span>
                </p>
                <div class="social-wrapper text-center visible-phone visible-tablet">
                  <small>Share this page</small>
                  <ul>
                    <li>
                      <a target="_blank" href="">
                        <i class="icon-twitter-sign"></i> <span class="hidden">Twitter</span>
                      </a>  
                    </li>
                    <li>
                      <a target="_blank" href="">
                        <i class="icon-facebook-sign"></i> <span class="hidden">Facebook</span>
                      </a>  
                    </li>
                    <li>
                      <a target="_blank" href="">
                        <i class="icon-google-plus-sign"></i> <span class="hidden">Google+</span>
                      </a>  
                    </li>
                    <li>
                      <a target="_blank" href="">
                        <i class="icon-pinterest-sign"></i> <span class="hidden">Pinterest</span>
                      </a>  
                    </li>
                  </ul>
                </div>
                <p class="lead drop-cap">In the basement of Duffy's Tavern, dirt sifted between the floorboards overhead for 10 seconds. They could hear muffled booms from above, the crashes, the bangs and cracks and rattles. The whole building seemed to shudder, as if bumped rudely in a crowd. Sixty seconds before, they had hurried into the basement, chased there by a tornado flying toward the tiny town of Utica at 6:09 p.m. on April 20.</p>

                <p>Down the wooden steps they had come, hurrying, hurrying, but trying not to shove. The lights died. Once at the bottom, they huddled shoulder to shoulder, next to things they couldn't see: shelves with plastic tubs of French dressing and twist-tied bags of the green and white mints that Lisle Elsbury liked to hand out to departing customers.</p>

                <p>Elsbury, the owner of Duffy's, was last in line, having gathered everybody--six staff members, six customers--and made sure they were headed down the stairs and then closing the basement door behind him. His foot was still on the bottom step when it hit.</p>

                <p>Ten seconds of shaking. Of falling dirt. "Everybody OK?" Elsbury said, once the shaking stopped. A nervous murmur of yeses.</p>

                <p>He waited another 45 seconds or so. When he thought it was all over--you couldn't be sure, not really, but you followed your instincts--Elsbury headed up the steps and cautiously opened the door.</p>

                <p>He expected chaos. He expected, at the very least, severe damage: splintered bar, overturned tables and chairs, busted windows.</p>

                <p>But Elsbury saw little change. Later he would discover a great deal of structural damage to the second floor, but for now, he felt lucky.</p>

                <p>Chris Rochelle, 23, the bartender, was right behind his boss. When he saw that Duffy's seemed intact, Rochelle moved straight out the back door to check on the rest of the town. He had good friends up and down this street, but none better than Larry Ventrice over at Milestone, Larry who'd encouraged him to start lifting weights again and take care of himself, Larry who'd lent him a car in which to drive home to Kansas last Christmas. If Duffy's looked OK, then Rochelle wanted to help his friend Larry clean up Milestone.</p>

                <p>He ran north through the alley, past the backs of Duffy's and Skoog's Pub and the other buildings, past the blown-down bricks and felled trees and hunks of twisted metal.</p>

                <p>When he got to the corner he couldn't believe what he saw. What he didn't see.</p>

                <p>Rochelle ran back to Duffy's--he would have no memory of the running, of his knees rising and falling or of the breath tearing in and out of his chest, but he knew he must have done so, because that's where he ended up--and he screamed, "Milestone's gone! Milestone's gone!" Even as he was saying it, even as the words flew out of his mouth, it didn't sound possible. But it was. He had seen it. Or, not seen it.</p>

<p class="lead drop-cap">Steve Maltas, who had taken refuge in the boiler room of the firehouse along with seven other volunteer firefighters, shoved open the heavy door. Yep, the building was still standing.</p>

                <p>Then they all hurried outside, and the first thing they saw was what wasn't there: Milestone.</p>

                <p>A knee-high pile of rubble--sandstone blocks, thick wooden beams and a crusty overlay of broken concrete--seethed and steamed in the space where a two-story building had stood since 1887, right across the street from the firehouse.</p>

                <p>For a few seconds Maltas and the others were too stunned to move, too numb, their minds utterly rejecting what their eyes were telling them was true: A building had been flattened in 10 seconds, like a sandcastle squashed by a bored kid at the beach.</p>

                <p>They broke out of their astonishment and ran across the street to the jagged pile. Where to start? What to do? Good God. The center was absolute mashed chaos--wood and concrete and stone and wire and a thick powdery mist of pulverized mortar--but the edges, the edges looked bizarre: At the edges were huge intact sandstone blocks that had toppled in neat rows, like dominoes.</p>

                <p>They started pulling at the rocks, doing what anybody would do: trying to get to whoever was inside, grabbing and lifting and clawing. They could hear screams and calls for help, and it was a healthy sound, God knows, because silence would have been worse.</p>

                <p>Seconds later, they were joined by other people, people who had emerged from downtown buildings and looked around to check the damage and then saw--Good Lord--Milestone, what was left of Milestone, and so they ran to the site and bent over or dropped to their knees and pulled, scratched, dug and heaved the stones, but there were so many stones and so many layers and it seemed hopeless. They couldn't let themselves think that, though, so they just kept digging and pulling at stones.</p>

                <p>So intent were they, so focused, that at first they didn't notice the damage to the rest of Utica. They didn't really see the garage right next to Milestone, where the Fire Department parked its ambulances, wrecked so badly that later it would have to be torn down. They hardly noticed that Starved Rock Bait & Tackle, the century-old building across the alley from Milestone where Jim Collins had sold gas, cigarettes, soda pop and hunting licenses for almost two decades, was a ruined mess.</p>

                <p>All anybody could think about was Milestone, Milestone, Milestone, because the tavern wasn't just mauled and pummeled, wasn't just grievously damaged. It was gone.</p>

                <p>In the top layer of the rubble, two bodies were clearly, excruciatingly visible. And because Utica is a small town, because everybody knows everybody, they knew who they were: Jay Vezain and Carol Schultheis, two local folks who'd been having a drink in Milestone just before the storm.</p>

<p class="lead drop-cap">By the time Joe Krizel got there about five minutes later, at least two dozen people were tugging at the rubble. Krizel worked at Uniman, a sand plant on a hill just north of Utica. From his vantage point up there, he had watched the tornado move in, watched it churn and whip its way northeast, then saw it pause over Utica--10 seconds, he thought, no more--almost as if it had an appointment there, as if it knew where it wanted to go, right down to the street address. Krizel couldn't tear his eyes away from it.</p>

                <p>Then the spinning black cloud moved on, heading up the hill where it broke apart, and Krizel suddenly felt released from whatever spell that awful thing had cast over him.</p>

                <p>Krizel, 49, had been a volunteer firefighter for more than two decades. He knew there'd be a lot of damage, so he slid into his pickup to head downtown. Trouble was, the road was blocked by debris--ripped-up trees with their shocked roots still dangling, thrown-down telephone poles, big chunks of roofs, swatches of curled-up sheet metal--and he couldn't get through. He hollered at Blayne Bimm--son of Shelba Bimm, one of Krizel's Fire Department colleagues--who also worked at Uniman, and Blayne hopped into an endloader and cleared the way for the pickup.</p>

                <p>Krizel took a look at the mess that had been Milestone. He knew what kind of job this was: technical rescue, which meant equipment and expertise, not just hard work and good intentions. Maltas already had alerted state officials and in the next few hours 52 fire departments would respond. The streets of Utica would be jammed with firetrucks. But right now, it was just Joe Krizel and the Utica firefighters, and they could hear people calling for help from under the rubble.</p>

                <p>Krizel dashed into the firehouse, flung open his locker and started yanking on boots and coveralls. He slapped on his hardhat with the light on it.</p>

                <p>Back across the street, firefighters had just pulled Rich Little from a corner of the rubble, and Little had pulled out Jim Ventrice. It was the easiest rescue they'd have; from here on out, it would be desperate and difficult work, but the two men who'd been standing next to a couple of freezers in the basement seemed to be fine. It was astonishing, really: Amid the destruction, with an entire two-story building compressed into an appallingly tiny space, two men had climbed out. They were dazed and groggy and dust-covered, but alive.</p>

                <p>A woman ran up to Little and embraced him. It was Kristy Kaiser, 35, the girlfriend he was supposed to meet in Milestone that night. But she'd seen the tornado blooming in her rear-view mirror like an assailant who'd been hiding in the back seat, so she pulled her Dodge Ram to the curb, jumped out and ran into a grocery store, where she spent the anxious minutes in a walk-in freezer with strangers.</p>

                <p>Now she was here with Little, here amid the confusion and the shouting. It was so chaotic that Ventrice wandered over to a stack of stones and sat down, and minutes later said hello to a friend, and the friend remembers thinking, "Why's he bothering me when we got a crisis here?"--not realizing until much later that Ventrice himself had just been pulled out of the building. It was that kind of scene: wild, surreal, drenched in panic and dread and a kind of crazed disbelief.</p>

                <p>Gradually, though, the firefighters took control, moving the townspeople back and back and back, so Krizel could get to work. They were afraid to touch Vezain and Schultheis, afraid they might send the whole fragile mass crashing down on the survivors inside, so they draped the bodies in plastic, and tried to put out of their minds what they would never get out of their memories. They had a job to do, there were more people down there, living people. They could hear them crying and screaming. So there was no time for grief or reflection.</p>

<p class="lead drop-cap">By 6:20, 11 minutes after the tornado belted Utica, Shelba Bimm and Dave Edgcomb, Utica's fire chief, showed up. They'd been in a class in Oglesby to upgrade their EMT certifications. When the tornado sirens sounded, their instructor, as protocol required, marched the students into the basement. On the way down, somebody turned on a dispatch radio and everybody got the news: Utica.</p>

                <p>"We gotta go," Bimm told the teacher, and she and Edgcomb ran to the parking lot, Edgcomb to his pickup and Bimm to her Honda CRV, and their journey back to Utica was something neither would remember in any detail, because their only thought was get there, get there, and it bullied all other thoughts out of the way.</p>

                <p>They had to abandon their vehicles at the edge of town, because there was too much stuff clogging the streets: trees and rooftops and hunks of siding, plus toppled power lines that twitched and sizzled. They had to claw their way through branches and shattered glass, around broken pipes and crinkled windowless cars, and they took a crazy, makeshift route under and over and through. It was like moving across a war zone, Bimm thought, like advancing through a dangerous maze during combat.</p>

                <p>She made it to Church Street, and she looked at her house for just a second--everything was happening in fragments now, time had been sliced up into smaller and smaller increments--but it didn't make sense. She couldn't figure out at first what she was looking at.</p>

                <p>Somebody had made a mistake. A bad, bad mistake. This wasn't her house. This was a place that had been wrenched off its foundation, twisted sideways beneath a battered roof. This looked like one of her dollhouses--the kind she sold in her front room--after somebody had knocked it off a shelf and stepped on it.</p>

                <p>She shook her head. Said to herself, Well, OK, my house is gone. Let's go see what other folks need.</p>

                <p>And the retired 1st-grade teacher with the bright white hair bent over and thrashed her way inside the mess of what had been her house, digging out her fluorescent vest, so people would know she was an EMT. Then she started toward Milestone.</p>

<p class="lead drop-cap">Please, God. Don't let it be kids.</p>

                <p>That was Edgcomb's single thought, the one that kept pace with his racing heart as he ran toward Milestone: Please, God, no kids. Please. Please.</p>

                <p>He'd been a firefighter for 25 years, he was a powerful, well-built man, a natural leader, and nobody would call Dave Edgcomb weak, no sir. He carried an air of can-do confidence.</p>

                <p>But right now he was, in his thoughts, on his knees:</p>

                <p>Please, God, just don't let it be kids.</p>

                <p>He knew it was bad, real bad, and he knew he could handle anything--but not kids. No dead kids.</p>

                <p>In one of his first days as a firefighter, Edgcomb was called to an accident scene on Interstate Highway 80. A drunk driver had crashed her car, the car was burning, the driver had tumbled out and was fine--wasn't that always the way?--but she kept screaming, my kids, my kids, and the firefighters did the best they could, but in the end, Edgcomb was asked to retrieve two small charred bodies in the back seat.</p>

                <p>Now, as he approached Milestone and saw his fellow Utica firefighters, saw their grim faces, he knew. He just knew. There were kids down there.</p>

                <p>Please, God.</p>

<p class="lead drop-cap">From under the rubble along the southern wall, Krizel heard somebody yell for help. He thought he knew that voice. So he yelled back and, yeah, it was Jarad Stillwell, a pal of Krizel's son Zack.</p>

                <p>"How many down there?" Krizel called. "How many, Jarad?"</p>

                <p>"A bunch." The raw, choked voice of a 13-year-old, scared out of his mind.</p>

                <p>Krizel spotted a dime-sized hole in the jagged debris. "Hey, Jarad," he said, "can you get your finger out there?"</p>

                <p>A pale fingernail appeared in the opening, then a pale finger, then a few more fingers managed to spread the hole wider. Krizel touched Jarad's fingers.</p>

                <p>The firefighter knew how extraordinarily careful he had to be. If he moved the rocks too much, too fast, he could dislodge a crucial section. He had to consider every gesture he made, every wriggle and bump--but he also had to work quickly, because the people trapped below might be dying.</p>

                <p>Krizel probed cautiously at the stones and splintered wood and broken concrete, taking a piece here and then a piece over there, careful, so careful. It required almost two hours just to enlarge the hole.</p>

                <p>Finally it was big enough, and Krizel reached down to take Jarad's hand--yeah, yeah, here he comes--and Krizel and four other firefighters pulled the kid up and out. There was a kid next to him down there, Gregg Miller, 14, and they pulled him out too. Right as the boys emerged there was a moment of panic because they were drenched in something sticky and red--Is it blood? For God's sake, are they bleeding?--but it turned out to be syrup for the soda pop served at Milestone, stored in the basement in pressurized containers that had popped open in the collapse. The kids were OK.</p>

                <p>Krizel handed off the boys to his colleagues--Shelba Bimm was there, his old friend Shelba, where'd she come from?--and then he got ready for the hardest job of all: reaching the people who were entombed under hundreds of tons of debris.</p>

                <p>He knew a technical rescue team from the Sandwich Fire Department was on the way, he knew Edgcomb was coordinating things, but he had to get started. He could hear people screaming.</p>

                <p>Krizel looked down in the hole from which he'd pulled the boys. Might work.</p>

                <p>He inched himself into the opening, feet first. It was just barely wide enough. A couple of guys held his arms and lowered him on down, on down, until his feet hit something solid and he had to stop. Krizel flipped on a light. He could see a young girl's narrow ankle caught under a beam. He wiggled and turned and twisted so that he was on his stomach, so that he could crawl over to her.</p>

                <p>Above him, he could hear the crunchy steps of people walking on the debris, feel the pile shift. One wrong footfall, Krizel knew, might bring everything crashing down. So he climbed back up and stuck his head out of the hole and yelled, "Get offa there! Clear those people off!"</p>

                <p>Then he went back down, back on his belly again, and crawled closer to the girl. By this time he could see other bodies, too, some alive and some dead. Krizel was crawling through at least 6 inches of frigid water, through sewage and booze and electrical lines. He used tin snips to clip and bend and poke and push his way forward. I got $10,000 worth of rescue equipment up there in the truck, and none of it's gonna do me a bit of good, Krizel thought. Just these tin snips.</p>

                <p>Water. Wires. Sheet metal. Pipes. Jagged wood. Krizel kept cutting, cutting until his hands were red-raw. Ashley Miller, the girl whose ankle he'd seen under the beam, was crying; she was in pain and wanted out, and he said, "I can't get to you yet. Hang on." She sobbed, "But I can see your light! Come and get me!"</p>

                <p>There were other firefighters down in the hole by then, too, coming behind Krizel, cutting and pushing, but gently. They had to be smallish, fit men, like Krizel, because the makeshift tunnel was so narrow, so frail. They didn't know what they were touching or what the touching would do. Before Krizel cut a pipe, he wondered, Is it gas? Electric? Water? He couldn't tell. He just kept working, pushing, tunneling, and when he came to a dead body, he kept going, kept going, toward the living.</p>

<p class="lead drop-cap">For the people buried alive in Milestone, it had sounded like an explosion, like a bomb going off right over their heads, like the end of the world.</p>

                <p>Mike Miller was slammed to his knees. His left foot was twisted up under him, and Debbie was jammed against that foot, and they couldn't even flinch, they were pinned in every direction.</p>

                <p>Before Jarad and Gregg were rescued, Debbie had called out the children's names, one by one, and after a child responded, she went on to the next one, calling for Christopher, 8; Jennifer, 12; Ashley, 16; and Gregg and Jarad.</p>

                <p>When she said, "Mike," there was no answer from 18-year-old Mike Jr., and she knew. She knew.</p>

                <p>They started yelling for help, all of them, and the kids cried. In a minute or two they heard answering yells--people on the outside, above them--so they knew somebody was coming.</p>

                <p>But when? When? Why didn't somebody just unstack these stones and junk and get them the hell out of there? Ashley was crammed up next to her mother; Jennifer was pinned against Ashley; everybody was smushed against somebody else.</p>

                <p>They were wet and cold and scared and confused. They could hear pipes bursting and then, because this was the basement of a bar, they could smell alcohol, urine and excrement. Their arms and legs and shoulders and backs were clasped by a vast unfathomable heaviness. They could barely move their chins an inch or shift a knee. They were suspended in a prison of sandstone, concrete and terrible weight.</p>

                <p>Mike Miller sensed a presence wedged beside him, and somehow he realized it was Larry Ventrice. Or what had been Larry Ventrice. Mike Miller was as close to Larry as a person standing next to him in a crowded elevator.</p>

                <p>They could hear the firefighters inching their way toward them, cutting and pushing, and the great heaviness all around them shimmied and creaked and groaned. They could hear Jarad and Gregg being pulled out, and that gave them hope, great hope. Maybe it wasn't that bad. Mike Miller asked the firefighters how bad it was, and they wouldn't give him details. "Bad," one said. That was the only word he would use: "Bad."</p>

                <p>After another two-and-a-half hours of work, rescuers had reached Chris, the smallest. They pulled him out, and then it was on to Ashley. Her thin blond hair was caught under a wooden beam, and they told her she'd have to pull out several handfuls before they could free her. Ashley hesitated, but her mother said, "Do it, Ashley," and she did, yanking a succession of strands in small painful bundles from the front of her scalp.</p>

                <p>Mike and Debbie, though, were bigger, bound tighter, and would require another three hours of delicate work by the rescuers. While firefighters snipped and probed, one managed to lower a flashlight into Debbie's fingers. He also handed her some ice and asked if she wanted anything else.</p>

                <p>"Yeah," she said. "A cigarette."</p>

                <p>That drew chuckles. And Mike--did he want anything?</p>

                <p>"A pain pill," he said. His back, his foot: It was agony, agony. It was so excruciating, in fact, that he was finished. He'd had enough. He was done. Sick of fighting. "I'm going to give up," he told his wife. A simple fact: I'm through.</p>

                <p>"No," Debbie said. "You're not giving up. You're not giving up."</p>

                <p>He hung on not because he wanted to--he didn't want to--but because he had no choice. He couldn't move, he was helpless, he was trapped in life right now, the same way he was trapped under the heavy stones.</p>

                <p>Gradually a tunnel widened above them, and they could see hands and lights. Voices were louder. Mike Miller had to push Larry Ventrice's knee to one side to free his own leg. First Debbie, then Mike, were strapped on backboards and hauled out.</p>

<p class="lead drop-cap">Within the first hour after the tornado, Chief Richard Kell and 30 firefighters from Sandwich had arrived, experts in rescues in collapsed buildings. Kell dispatched two teams--one with two men, the other with three--to crawl under the rubble toward the survivors, and Krizel was told to come up, come back up, they'd take over. Come up. The crew from Sandwich would continue the tedious journey: snipping, bending back metal, scooting gingerly through the water and muck and sharp-edged broken stones.</p>

                <p>When Krizel climbed out of the hole he was as tired as he'd ever been in his life. He was angry, too, at having been relieved. He argued, he fought, but he knew they were right. He'd done all he could, but there was so much more to do. Living people were still pinned down there.</p>

                <p>The dead were down there, too, people he knew, friends of his, and it was clear the night had really just begun.</p>

                <p>He stood there a minute or so, and then Shelba Bimm came forward and hugged him, holding him as his shoulders bobbed up and down with quiet sobs, because now there was a weight on Joe Krizel, too, and it was heavier than any building.</p>

                <div class="social-wrapper text-center top-line">
                  <small>Share this page</small>
                  <ul>
                    <li>
                      <a target="_blank" href="">
                        <i class="icon-twitter-sign"></i> <span class="hidden">Twitter</span>
                      </a>  
                    </li>
                    <li>
                      <a target="_blank" href="">
                        <i class="icon-facebook-sign"></i> <span class="hidden">Facebook</span>
                      </a>  
                    </li>
                    <li>
                      <a target="_blank" href="">
                        <i class="icon-google-plus-sign"></i> <span class="hidden">Google+</span>
                      </a>  
                    </li>
                    <li>
                      <a target="_blank" href="">
                        <i class="icon-pinterest-sign"></i> <span class="hidden">Pinterest</span>
                      </a>  
                    </li>
                  </ul>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}
