{% extends "_base.html" %}

{% block content %}
<div class="container-fluid">
      
      <div class="social-wrapper social-wrapper-vertical text-center visible-desktop">
        <small>Share</small>
        <ul>
          <li>
            <a target="_blank" href="">
              <i class="icon-twitter-sign"></i> <span class="hidden">Twitter</span>
            </a>  
          </li>
          <li>
            <a target="_blank" href="">
              <i class="icon-facebook-sign"></i> <span class="hidden">Facebook</span>
            </a>  
          </li>
          <li>
            <a target="_blank" href="">
              <i class="icon-google-plus-sign"></i> <span class="hidden">Google+</span>
            </a>  
          </li>
          <li>
            <a target="_blank" href="">
              <i class="icon-pinterest-sign"></i> <span class="hidden">Pinterest</span>
            </a>  
          </li>
        </ul>
      </div>
      <div class="row-fluid">
        <div class="mm-wrapper">
          <div class="row-fluid">
            <div class="span12">
              <article>
                <h1>Part 3: After the storm's fury</h1>
                <h3>Left in tatters by a tornado, a small town remembers, rebuilds and begins to recover</h3>
                <p class="byline top-line"> 
                  Julia Keller
                  <span class="pull-right"><strong>Chicago Tribune reporter</strong></span>
                </p>
                <div class="social-wrapper text-center visible-phone visible-tablet">
                  <small>Share this page</small>
                  <ul>
                    <li>
                      <a target="_blank" href="">
                        <i class="icon-twitter-sign"></i> <span class="hidden">Twitter</span>
                      </a>  
                    </li>
                    <li>
                      <a target="_blank" href="">
                        <i class="icon-facebook-sign"></i> <span class="hidden">Facebook</span>
                      </a>  
                    </li>
                    <li>
                      <a target="_blank" href="">
                        <i class="icon-google-plus-sign"></i> <span class="hidden">Google+</span>
                      </a>  
                    </li>
                    <li>
                      <a target="_blank" href="">
                        <i class="icon-pinterest-sign"></i> <span class="hidden">Pinterest</span>
                      </a>  
                    </li>
                  </ul>
                </div>
                <p class="lead drop-cap">They picked at the pile, inch by inch, stone by stone, just in case. They thought they'd gotten to everyone who was alive, but you had to be sure. You had to. Buckets of debris were passed from hand to hand along chains firefighters. It began to rain, but nobody noticed.</p>

                <p>Earlier that evening--at 6:09 p.m. April 20--a tornado had barreled through the town of Utica in north-central Illinois and, with a tornado's savage whim, had shunned a building here but shredded one over there. Hitting and missing and hitting.</p>

                <p>Milestone. That was where the firefighters now were gathered, hundreds of firefighters from 52 units throughout the state. The 117-year-old tavern near the corner of Church and Mill Streets had taken a direct hit and collapsed into a ponderous heap of wood, stone and concrete, trapping 17 people who had sought shelter within its thick walls.</p>

                <p>Nine had been rescued earlier that night: Jim Ventrice, Rich Little, Jarad Stillwell, and Mike and Debbie Miller and their children Ashley, Jennifer, Gregg and Chris.</p>

                <p>The eight others still down there, firefighters believed, were dead. But they had to be sure.</p>

                <p>So they kept working, systematically removing buckets full of rubble, pushing back thoughts of anything except the task at hand: dig, fill the bucket, pass the bucket, dig.</p>

                <p>The whole place was lighted like a movie set. The lights cast an eerie glow on the firefighters in their heavy gear and their hardhats, their steel-toed boots and leather gloves. The lights splashed up on their solemn faces, which looked steep and angular in the artificial glare. All of that illumination made it seem as if a strange new sun had been unearthed, a mixed-up one that didn't know night from day.</p>

                <p>At about 1:30 a.m., when the listening devices that were dropped down into crevices continued to fetch only silence, they knew the rescue part of their job was over. Now it was a different mission: recovering the bodies.</p>

                <p>Buck Bierbom's skid loader was waved forward to handle the larger chunks of debris, but they had to be careful, so careful. When firefighters edged close to a body, the heavy equipment backed off and the painstaking labor by hand recommenced, the tender, awful job of verifying what they already knew.</p>

                <p>Bierbom was a local boy, Utica-born and Utica-raised, a slender, wiry man with a creased, weathered, beard-fringed face and the kindest eyes you'd ever hope to see. He and his brothers, Mark and Doug, had run their own construction company for 12 years. Utica Police Chief Joseph Bernardoni had called him at 6:30 p.m., 21 minutes after the tornado leveled Milestone, and asked him to get there with his skid loader and mini-excavator just as quick as he could.</p>

                <p>So tonight Bierbom was unearthing the bodies of people he'd known all his life. People he'd grown up with. People he'd waved to on the street maybe twice, maybe three times a day for a whole bunch of years.</p>

                <p>Shortly before dawn, when all the bodies had been located, a chain saw cut away sections of Milestone's floor. Bierbom's big machine removed the sections. Then Jody Bernard, the somber, petite LaSalle County coroner, or one of her three deputy coroners, would climb down, examine the body and pronounce the death.</p>

                <p>Each body was placed in a blue bag, then the blue bag was lifted out of the hole.</p>

                <p>At 6:59 a.m., they lifted out Jay Vezain.</p>

                <p>At 7:04 a.m., Carol Schultheis.</p>

                <p>At 11:12 a.m., Mike Miller Jr.</p>

                <p>At 11:15 a.m., Larry Ventrice.</p>

                <p>At 11:17 a.m., Beverly Wood.</p>

                <p>At 11:22 a.m., Marian Ventrice.</p>

                <p>At 11:25 a.m., Wayne Ball.</p>

                <p>At 11:28 a.m., Helen Studebaker Mahnke.</p>

                <p>All but Vezain and Schultheis died of traumatic asphyxiation, which means they were crushed to death, probably in the first instant of the collapse, when the walls and floors began to pancake down into the basement. Vezain and Schultheis, who never made it into the basement, died of blunt force trauma.</p>

                <p>But those official-sounding causes of death, announced by Bernard at the coroner's inquest May 27 at the LaSalle County Courthouse, hardly hint at what actually happens to human bodies when crushed by a two-story building: the brutality, the blunt and unimaginable violence of hundreds of tons of stone and wood and concrete collapsing upon fragile frames and soft flesh. There were shattered bones and severed arteries and fractured skulls and lacerated organs and one transection of the brain stem--decapitation.</p>

                <p>The ones who survived did so because they chanced to be standing in just the right places. The walk-in cooler and the two freezers blocked a portion of the plummeting debris, creating instant, lifesaving lean-tos.</p>

                <p>There had been, survivors said, simply no time. No time for final thoughts or last-minute regrets, for so much as a cry of pain or yelp of warning. There was only time, if one is inclined to think that way, for the freeing of eight souls to continue their journeys elsewhere.</p>

                <p class="lead drop-cap">They lived or they died. Among the living, the most serious injuries were the broken ankles suffered by Mike Miller and daughter Ashley, but no one was paralyzed or maimed, which meant there was no middle ground for the people in Milestone. It was life or death.</p>

                <p>Whether you ended up on one side of that line or the other depended on whether you went down those basement stairs and what you did when you got there.</p>

                <p>Whether you turned left or right. Whether you paused or didn't pause. Whether, when everybody was hustling down the stairs, you waited to let an older person pass or a kid go ahead of you, or whether you didn't wait, or whether you moved to the center of the basement or stayed against the sides. Left, right, forward, backward, life, death.</p>

                <p>Schultheis' body was found beneath the video poker machine. Vezain had used his cell phone to call his sisters, making sure they were safe in the storm, and in the last call--suddenly cut off--he talked about trying to close the door, so maybe that's what he was doing, which would have been characteristic of the amiable, thoughtful Vezain, and then there was no more time, time itself was extinguished, and eight histories ended abruptly in a sandstone tavern at dusk.</p>

                <p>The funerals began two days later, when Vezain was remembered at a service in LaSalle, and continued for a week after the tornado, in locations that widened out from Utica in concentric rings: Wood, Ball and Schultheis, also in LaSalle; Mahnke in West Brooklyn; Miller in Rock Falls; the Ventrices in Chicago.</p>

                <p class="lead drop-cap">They started on a hill about a half-mile northeast of Utica, where the tornado had worn itself out, and worked their way back, back to where it began, some 15 1/2 miles southwest of that hill.</p>

                <p>It was approximately 10 a.m. on April 21, and Albert Pietrycha, Mark Ratzer and Jim Allsopp, meteorologists assigned to the National Weather Service's Chicago forecast office in Romeoville, were doing what they always do after a major storm: surveying the damage, beginning at the end and ending at the beginning. They'd map it on the ground first and then, the next day, by air.</p>

                <p>Armed with laptops and GPS tracking software, the men in the Ford Explorer crossed country roads and state highways, cut through farm fields and spongy riverbank, using thrashed trees and flattened vegetation and ripped-off roofs to track the tornado's path. Out in the open ground they found its vivid footprint in the black mud, a herringbone pattern that testified to the violent, switchback winds.</p>

                <p>Recording the damage in its wake is how meteorologists rank a tornado's severity. The F scale, named for University of Chicago meteorologist Ted Fujita, is based on the havoc wrought by tornadic winds--not on an actual measurement of those winds. The Utica tornado was deemed an F3, meaning that, based on the destruction the meteorologists observed, it probably had packed winds of between 158 and 206 m.p.h.</p>

                <p>Despite all that is known, however, despite all the charts and statistics and technology, tornado forecasting still has a long way to go. Since the 1950s, which saw the first major advance in atmospheric science, little has changed. Tornado forecasting still is filled with ambiguity and uncertainty, with the locked-up secrets of nature's worst tantrums.</p>

                <p>It's a mystery why some thunderstorms turn into the supercell variety, whose organized rotating updrafts explode into tornadoes. The questions keep scientists such as Pietrycha, who's worked at the weather service for two years, relentlessly searching a tornado's dark heart.</p>

                <p>And there is a point, Pietrycha knows, where the scientific facts abruptly stop, a stark cliff-edge where something else takes over, some inscrutable plan or perhaps just cruel caprice. Destiny--or dumb luck. Who can say which?</p>

                <p>That was why, as Pietrycha and his colleagues followed the tornado's crooked trail that morning, they were all struck by a thought they couldn't seem to get out of their heads:</p>

                <p>If the 200-yard-wide funnel had moved just a bit to either side during its furious charge, leaning a half-mile left or right, it would have missed Utica altogether. It would have churned up only farmland, and Milestone still would be standing.</p>

                <p>And the regulars, people such as Jay Vezain and Carol Schultheis, would have had quite a story to tell, the story about the tornado that nearly hit Utica. Talk about your close calls.</p>

                <p>Why the tornado dived straight at Milestone, why it demolished some houses and ignored others, why it turned when it did and didn't turn when it didn't--those were questions the meteorologists couldn't answer.</p>

                <p>And neither, come to think of it, could anybody else.</p>

                <p class="lead drop-cap">Mike Miller and his family had been trapped in the Milestone rubble for almost five hours. They were rescued, but sometimes you can be rescued and still be trapped.</p>

                <p>Two months after the tornado, Miller sat on the postage-stamp of a front porch of his house in Utica and smoked Marlboros, one after another, through the long summer afternoons. He looked out at the green field across the street. Beyond the field and the tangled mass of trees was the Illinois River. Even if you couldn't see the river you knew it was there; the river's scent rode the breeze, just the faintest tang of moisture and sweet coolness and the tantalizing hint of elsewhere.</p>

                <p>His ankle was on the mend. He'd spent a week in the hospital and two weeks in a rehabilitation center. Now he was home, in the small blue rented house on Washington Street.</p>

                <p>Miller's skinny legs were propped up on the porch rail. The cast and bulky protective boot on his left foot was the only suggestion of heaviness about him. He was as thin as a matchstick, which tended to make his thick nest of hair--not quite gray but getting there--look even wilder. He had a bountiful mustache and flyaway eyebrows and round spectacles. There was a quietness about Mike Miller, a kind of baffled resignation.</p>

                <p>The Miller family had to find someplace else to live. The landlord had evicted them in May--too many complaints about the kids from neighbors, they were told. Granted, Mike and Debbie hadn't been around the house a lot to keep an eye on things; he was an engineer with Illinois Central Railroad, she was a cook at Milestone.</p>

                <p>Now both were home all the time, because Mike was on disability leave and there was no more Milestone. But it was too late. Now the Millers wanted to be rid of Utica just as much as Utica seemed to want to be rid of them.</p>

                <p>They hoped to find a place in nearby LaSalle, so they could stay in the same area as their three oldest children, Kassi, 24, Brandon, 23, and Michelle, 19, who hadn't been with them in Milestone.</p>

                <p>Their next-oldest child, 18-year-old Mike Jr., had died when the tavern collapsed.</p>

                <p>It was bewildering sometimes, Mike thought, all that had happened to his family that night. "The Good Lord put us through four-and-a-half hours of hell," was how he phrased it, thinking back on the long rescue and the pain.</p>

                <p>And there were times when he wondered, as he sat on the porch with his crutches stacked beside him, if they'd ever really gotten out of that place, ever really broken the surface. There were times when he felt as if things were piled on top of him still, things that made it tough to move forward.</p>

                <p class="lead drop-cap">Tear it down. That's what they told him.</p>

                <p>And Lisle Elsbury said, Nope.</p>

                <p>But you could see their point. Duffy's Tavern had long ragged holes on both sides of its second floor, the bricks ripped out as savagely as if someone had been digging for treasure hidden behind them. When the tornado hit, it tore off sections of the grain bins of Utica Elevator just across the canal, turning them into missiles. Two of those sections sliced into Duffy's.</p>

                <p>A week after the storm, Elsbury was standing in the middle of Mill Street, peering intently at the building in which he'd stuffed his hopes and his cash. Contractors hired to help him repair it were snapping together the scaffolding to reach the second floor. Elsbury wore sunglasses, a hardhat, black jeans and a bright green T-shirt with "Duffy's Tavern" in yellow letters.</p>

                <p>Built in 1892, easily Utica's most distinctive-looking structure, Duffy's sported a tower that flared out over the corner of Mill and Canal Streets with a Disneyesque flourish. That was why Elsbury and his wife, Pat, had bought it the year before. They loved the look of the place.</p>

                <p>What it looked like now was a lost cause.</p>

                <p>Elsbury had worked in construction in Lyons before buying Duffy's, so he knew the repairs would cost at least $100,000, only part of which would be reimbursed by insurance; already, he was deep in arguments with the agent.</p>

                <p>And there was something else.</p>

                <p>When you looked at Duffy's, you couldn't help but think about Milestone. They had been a block away from each other. Elsbury and Larry Ventrice, Milestone's brusque manager, had rhyming lives: Both had done other things before deciding, in their middle years, to run a bar in Utica. Both had wives who kept their jobs and lived in other cities so the family could have health insurance.</p>

                <p>Marian Ventrice had quit her job just two months before, to join her husband at Milestone.</p>

                <p>Pat Elsbury, who worked as a secretary for an oil-recycling company in La Grange, had been contemplating the same kind of bold stroke: Just do it. Forget what everybody says is the smart move. Follow your heart. Lisle was remodeling the second floor, turning it into an apartment--just like Larry and Marian had done at Milestone--and they'd be living and working together. Just like Milestone.</p>

                <p>And then came April 20, when Milestone collapsed and killed the Ventrices and six others. Pat and Lisle Elsbury were haunted by the crazy capriciousness of it all: Two bars. Two couples. One tornado. Two fates.</p>

                <p>Why did Milestone fall and Duffy's stand? Pat Elsbury tried to stop thinking about it, but she couldn't. When she drove to Utica, she kept running into the questions as if they were police roadblocks: Why Milestone and not Duffy's? Why had the tornado veered left just before it hit Duffy's, dealing it only a glancing blow, but pounced on Milestone as if on a mission?</p>

                <p>Why was Lisle Elsbury alive and Larry Ventrice dead?</p>

                <p>Pat, a pretty, talkative woman with strawberry blond hair and a quick laugh, soon realized that the only way to outfox her thoughts was to do what Lisle did: stay busy.</p>

                <p>So while her husband kept an eye on the crew that was restoring Duffy's, rebuilding the brick sides and shoring up the roof, Pat was there every Saturday and Sunday. When Duffy's reopened after three weeks, Pat would wait tables and grapple with paperwork, unpack supplies and sweep floors. Anything to keep her mind away from that relentless and quietly terrifying, "Why?"</p>

                <p class="lead drop-cap">Jim Ventrice had gone to Milestone every day, for lunch or dinner or both. Now that it was gone, he had to get his meals and his companionship somewhere else.</p>

                <p>Through the summer you'd see him at Skoog's Pub, maybe, sipping a Miller Genuine Draft, his favorite, or over at Duffy's, having a burger, or sometimes at Joy & Ed's.</p>

                <p>Ventrice and Rich Little were the first two people rescued from Milestone's basement. While the others down there died or were forced to wait hours before being pulled out, Ventrice and Little had escaped right away. Within minutes. The building fell in all around them, but except for a few bruises and cracked ribs, both were fine.</p>

                <p>When he'd gone down to the basement that night, Ventrice turned right at the bottom of the stairs. He stood beside Little, a stranger, over by a couple of freezers.</p>

                <p>He didn't know why. If Little hadn't been there, Jim Ventrice believed, then he would've gone over next to his cousin Larry Ventrice or Larry's wife, Marian, Milestone's managers, and he would've absorbed the full weight of the falling slabs--the concrete roof, the second floor, the first floor--just as they had.</p>

                <p>A week later, Jim Ventrice called Little.</p>

                <p>"Were you in the tornado?"</p>

                <p>"Yeah."</p>

                <p>"I was the guy beside you."</p>

                <p>"Well," Little said, "that freezer saved us."</p>

                <p>Wasn't much more to it than that. Wasn't much more to say. They didn't talk philosophy or religion or predestination. The freezer had blocked the falling debris, sparing them. It was the freezer, plain and simple. Wasn't it?</p>

                <p>Ventrice had plenty of time that summer to sort it all out. He'd walk along Mill Street, hands in his pockets, and think. He'd just about settled things in his mind: You had to live with the fact that for a lot of questions, there aren't any answers. Good people die. And God doesn't have to explain himself. It's his call.</p>

                <p>Rich Little had moved in with Kristy Kaiser, the woman he'd been supposed to meet in Milestone. The single parents blended their families, his three kids and her three.</p>

                <p>A month after the tornado, he bought a Harley, his longtime dream. On solitary rides he thought about that night, about how he'd been sure it would change him in some fundamental way, but it really hadn't. He was the same guy. Wasn't he?</p>

                <p class="lead drop-cap">Debbie Miller was writing down recipes. It was the best way she could think of to remember Milestone, a job she loved, the first outside job she'd held after 18 years. Fried chicken, burgers, spaghetti, hot wings--garlic was the secret ingredient in the wings--and steaks, all the recipes she and her boss, Larry Ventrice, had concocted together. They'd never put them on paper, because Debbie caught on quickly and repetition did the rest, and even Marian took to calling the back room of Milestone "Debbie's kitchen."</p>

                <p>Debbie had lost so much--her son, her job, her best friends, Larry and Marian--and she wanted to hang on to what she could.</p>

                <p>While Mike Miller sat on the porch the first two months after the tornado, feet propped on the rail, Debbie often stayed inside the small house, smoking cigarettes until the rooms were hung with a yellow-gray glaze. Blond bangs hung between Debbie's eyes and the world; straight blond hair fell down her back. The big-screen TV that dominated the living room always seemed to be on, and the Miller kids and a few of their friends and Debbie sat on couches and watched. With the curtains closed you couldn't always tell if it was day or night, unless you already knew.</p>

                <p>But the Millers had to find a new place to live, so on an afternoon in late June, Mike, Debbie, Gregg and Chris piled into the car--they'd gotten a teal Ford Taurus to replace the LTD damaged in the tornado--and drove to LaSalle. They had called a couple of newspaper ads for rental houses.</p>

                <p>The first one was bright blue with a wide front porch. The moment the car stopped at the curb, Chris and Gregg tumbled out and rushed over and mashed their noses against the windows to see inside: "Cool!" "Wow!"</p>

                <p>Mike hobbled to the picture window, cupping his palms over his eyes to peer in. "Nice big living room," he said.</p>

                <p>But Debbie didn't like it. She looked around, then folded her arms across her chest.</p>

                <p>"It needs a lot of cleaning," she said.</p>

                <p>A quick, hopeful response from 8-year-old Chris: "I can dust!"</p>

                <p>They moved on, though, and reviewed a few more houses that day, a few more the next. On July 1, a week before they had to be out of the Washington Street house, they signed a lease for a good-sized stone house on a corner lot in LaSalle. By July 5, they'd left Utica.</p>

                <p>Debbie still drove back there once a week or so for an informal support group of Milestone survivors and families that met evenings at Joy & Ed's. Jim Ventrice sometimes showed up too.</p>

                <p>They didn't talk much about what happened that night. They talked about their lives, about their struggles, about how hard it still was to drive past the corner of Mill and Church Streets, where Milestone had stood, and where the city had put up a makeshift memorial. There were, affixed to white-painted concrete barriers, pictures of the victims and pictures of Utica from long ago.</p>

                <p>Rising from the thin layer of gravel spread over the site was a row of white crosses, each inscribed with a name: Jay Vezain. Helen Mahnke. Bev Wood. Wayne Ball. Carol Schultheis. Marian Ventrice. Michael Miller. Lawrence Ventrice.</p>

                <p class="lead drop-cap">Shelba Bimm was leaving Utica. She wasn't going far, just to a subdivision on a hill west of town, a pretty little neighborhood of gently curving streets and polished-looking homes with wide driveways.</p>

                <p>Bimm had loved living right in the middle of Utica. But she and her neighbors with homes crushed by the tornado faced a tangle of complications. Utica was on a flood plain, and if you rebuilt, you were required to start with an expensively high foundation. Also, state officials long had planned to redo Illinois Highway 178 to divert its noisy truck traffic, and when they did, many of the homes on Church Street would have to go.</p>

                <p>At first, Bimm had been determined to rebuild right on the same spot. This was home. Long divorced, this was where she'd raised her two sons, Shayne and Blayne, by herself. But there was just too much up in the air. Bimm wanted to move on, to get going. She didn't like to stand still. So she bought the lot and began planning her new house.</p>

                <p>It would be white with cranberry shutters, just like the old one. On June 21, Buck Bierbom dug the foundation, using the same equipment he'd used to help clear tons of rubble from the Milestone site.</p>

                <p class="lead drop-cap">Pat Elsbury had finally had enough. Enough of the dilemmas. Enough of the back-and-forth--both the highway kind and the philosophical kind.</p>

                <p>In mid-July she gave her notice in La Grange. Her last day on the job, a job she'd had for 13 years, was July 30. She cleaned out her desk, packed her pickup and drove straight to Duffy's, where by early evening she was drinking a Miller Lite at the bar, and talking and laughing. "This is what I want to do," she said. "This is where I want to be. I don't want to be back there anymore." Simple, declarative statements.</p>

                <p>What wasn't so simple, though, was making up for the money Duffy's had lost. It was only closed for three weeks after the tornado, but the tourists who normally thronged into Utica on summer days on their way to Starved Rock were taking other routes. They'd heard about the disaster and, according to what Lisle Elsbury was picking up here and there, they figured Utica was still in disarray. That exasperated him, but what could he do?</p>

                <p>One Sunday afternoon in August, he was sitting in the back room of Duffy's, looking grim and discouraged. There were smudges on his forearms; he'd been struggling to fix an exhaust fan in the basement. But what really irritated Lisle was his insurance company, with whom he'd been tangling all week about repairs to the front of the tavern. The threshold was crucial, Lisle believed. The three-sided glass entrance with neat wooden trim was Duffy's signature. You just couldn't do it on the cheap. It had to be done right.</p>

                <p>He wasn't going to compromise. He and Pat had sold their house, had sunk every nickel they had into this place, had staked their future on the corner of Mill and Canal Streets. No way would he short-change it all now because some guy in a button-down shirt with a clipboard didn't get it, didn't understand why the entrance had to be special. No way. He was a fighter, Lisle Elsbury was, and he hadn't survived a tornado just to capitulate to some insurance company.</p>

                <p>Lisle was bothered, too, by something Pat had mentioned: When she told her boss back in La Grange goodbye for the last time, he'd given her a look. The look, she said, could have meant only one thing: You're not going to make it.</p>

                <p>Pat had shrugged it off. Come and see us in a year, she wanted to shout at him. Come back and see us then.</p>

                <p class="lead drop-cap">Mike Miller returned to work part time for the railroad Nov. 9, running a locomotive. He walked with a limp and probably always would, his doctors told him. He didn't mind. "As long as I don't fall flat on my face," Mike told Debbie, "I don't care."</p>

                <p>The Miller kids started school in LaSalle, and Mike and Debbie's biggest concern was Chris; at the threat of a storm, the merest hint of one, the quiet little boy was terrified. They alerted his teachers: If a storm came, they'd need to hold him, to tell him things would be OK.</p>

                <p>Debbie Miller put in job applications to cook at several restaurants. No luck yet, but she was hopeful. She didn't spend her afternoons in a dark room anymore.</p>

                <p>They still had money problems, though, and wondered how they were going to cover Christmas gifts for the kids. And they still hadn't been able to afford a headstone for Mike Jr.'s grave in Sterling, 47 miles northwest of Utica.</p>

                <p>On Aug. 16, at about 5:30 a.m., Mike and Debbie's daughter Michelle had given birth to 5-pound, 10-ounce Melodie Marie. Debbie stayed all night at the hospital, and when she returned home mid-morning, exhausted but joyful, there was a lightness in her face that hadn't been there in a while. Her smile was tentative--she still wasn't sure about the world, after what it had taken from her--but the smile came more easily now, lingered longer. The haunted quality in her eyes had receded a bit.</p>

                <p>Yet even as she sat on the couch that morning and talked about Melodie Marie, photos spread out on the coffee table, Debbie had to know that just above her head, high on the wall in the Millers' living room, was a picture of Mike Jr.</p>

                <p>He was facing the camera, and the tall, skinny young man with the glasses and straight blondish-brown hair wore his mother's smile: shy, cautious, not quite sure he can trust the world, not really certain it has his best interests at heart.</p>

                <p class="lead drop-cap">By the end of November, Bimm's new house was coming along nicely. The walls were up, and so was the crisp white siding, the gray roof.</p>

                <p>She loved to stop by and watch her contractor, Tom Trump, and his crew do their work. And she had a little more time on her hands these days; she and Dave Edgcomb had been notified Sept. 17 that they'd passed the test to be certified as EMT Intermediates, so there were no more classes.</p>

                <p>The flat crash of hammering, the piney astringent smell of new wood: Bimm liked to walk around the job site and plan what she was going to put where. She hoped to move in by Christmas. She'd been living in a small trailer that her sons bought for her the day after the tornado, setting it up on Blayne's property.</p>

                <p>Some afternoons Bimm would drive out to the site of her new house and just stand in the yard, taking it all in, while the wind fingered its way through the trees.</p>

                <p>If you glanced up at the sky, the blue seemed to go on forever--up and up, straight through the roof of the world--and to spread seamlessly from horizon to horizon. So blue, so calm, so beautiful. You would almost swear nothing bad could ever come from such a sky.</p>

                <p>----------</p>

                <p>ABOUT THIS SERIES</p>

                <p>To report this story, Tribune reporter Julia Keller interviewed the nine survivors of the Milestone collapse, and their friends, family members, neighbors and colleagues; and the friends, family members, neighbors and colleagues of the victims of the Milestone collapse; over a seven-month period, beginning a week after the tornado.</p>

                <p>She also interviewed townspeople of Utica, Ill.; public officials, including employees and elected officials of Utica and the Federal Emergency Management Agency; meteorologists at the National Weather Service's Chicago office; tornado experts such as Howard Bluestein of the University of Oklahoma; public safety officials, including Utica Fire Chief Dave Edgcomb, Utica Police Chief Joseph Bernardoni, LaSalle County Sheriff Tom Templeton and LaSalle County Coroner Jody Bernard.</p>

                <p>The reporter also used newspaper and television accounts of the tornado, and consulted historical books about Utica and the surrounding countryside.</p>

                <p>Passages describing downtown Utica before and after the tornado were based on first-hand observations by the reporter, and on the observations of townspeople who were interviewed. Descriptions of the interior of Milestone the night of the tornado were based on the recollections of survivors and on the recollections of other townspeople who frequented the bar. Descriptions of the exterior were based on photographs and the accounts of Utica citizens.</p>

                <p>Passages describing the rescue at Milestone were based on eyewitness accounts obtained from multiple interviews with firefighters, police officers, EMTs and volunteer citizen rescuers at the scene that night, along with the recollections of survivors and townspeople present shortly after the tavern collapsed.</p>

                <p>Scenes of the Miller family's life after being rescued from Milestone--in their Utica home; sitting on the porch with Mike Miller; searching for a new home; the morning their granddaughter was born--were witnessed by the reporter. Scenes of Pat and Lisle Elsbury's life after the tornado were compiled through first-hand observation by the reporter and through interviews; thoughts and emotions attributed to the Elsburys were derived from multiple interviews with the couple.</p>

                <p>Passages dealing with Shelba Bimm, Edgcomb, Steve Maltas, Gloria Maltas, Rona Burrows and other townspeople were based on interviews and observations by the reporter.</p>

                <p>Scenes that were not witnessed by the reporter were assembled through multiple interviews with people who were present, both named in the story and not named. When thoughts and emotions are presented, those thoughts and emotions come directly from the reporter's interviews. Descriptions of the activities and thoughts of people who died in the collapse were compiled through interviews with those who were present, or those to whom the deceased had confided their thoughts and emotions.</p>
                <div class="social-wrapper text-center top-line">
                  <small>Share this page</small>
                  <ul>
                    <li>
                      <a target="_blank" href="">
                        <i class="icon-twitter-sign"></i> <span class="hidden">Twitter</span>
                      </a>  
                    </li>
                    <li>
                      <a target="_blank" href="">
                        <i class="icon-facebook-sign"></i> <span class="hidden">Facebook</span>
                      </a>  
                    </li>
                    <li>
                      <a target="_blank" href="">
                        <i class="icon-google-plus-sign"></i> <span class="hidden">Google+</span>
                      </a>  
                    </li>
                    <li>
                      <a target="_blank" href="">
                        <i class="icon-pinterest-sign"></i> <span class="hidden">Pinterest</span>
                      </a>  
                    </li>
                  </ul>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>

{% endblock content %}
